.container{
    width: 100%;
    min-width: 1920px;
}
.main{
    width: 61.71%;
    min-width: 1185px;
    margin: 29px auto 0 auto;
}
.top-context{
    width: 100%;
    height: 680px;
    margin: 20px auto 0 auto;

}
.left-img{
    width: 570px;
    float: left;
    min-width: 570px;
}
.right-detail{
    float: left;
    padding: 15px 23px;

}
.detail-title{
    font-size: 30px;
    color: #333333;
}
.summary{
    width: 100%;
    margin: 18px auto;
}
.price{
    width: 100%;
}
.price-old{
    color: #999999;
    font-size: 12px;
    display: inline-block;
    text-decoration: line-through;
    margin-left: 28px;
}
.form-container{
    width: 100%;
    height: 160px;
}
.watchband-size{
    width: 156px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border: solid 1px #c0a369;
    margin: 28px auto 16px 0;
}
.watchband-size select{
    outline: none;
    font-size: 12px;
    color: #c0a369;
    border: 0;
}
.detail-text{
    color: #999999;
    margin-bottom: 40px;
}
.buy-btn{
    width: 100%;
}
.buy-btn div a{
    font-size: 12px;
    color: #ffffff;
}
.purchase-immediate{
    width: 132px;
    height: 38px;
    background-color: #e5dac8;
    border: solid 1px #c0a369;
    text-align: center;
    line-height: 38px;
    float: left;
}
.add-favorties{
    width: 132px;
    height: 38px;
    background-color: #c0a369;
    text-align: center;
    line-height: 38px;
    float: left;
    margin-left: 38px;
}
.md-detail-nav{
    width: 280px;
    height: 176px;
    margin-top: 50px;
    border: solid 1px #bfbfbf;
    box-shadow: 0 0 2px #ddd;
    overflow: hidden;
}
.tab-header{
    height: 33px;
    text-align: center;

}
.tab-header ul li {
    float: left;
    width: auto;
    height: 25px;
    line-height: 25px;
    padding: 7px 4.5px;
}
.tab-header ul li.selected {
    font-weight: bolder;
    background-color: #333333;
    color: #ffffff;
    width: 55px;
}
.tab-cont{
    margin-top: 22px;

}
.tab-cont .dom ul li{
    list-style: A;
    float: none;

}
.dom span{
    display: inline-block;
    margin: auto 10px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #c0a369;
}


.tab-icon{
    text-align: center;
    margin: 20px 0 20px 0;
}
.tab-icon tr td{
    padding: 10px 13px 0 8px;
}
.tab-icon tr td a{
    color: #999999;
}

.md-table{
    text-align: left;
    margin: 24px 0 0 0;
}
.md-table tr td{
    padding: 0 24px;
}
.detail-tab{
    width: 100%;
    min-width:995px;;
    margin: 50px auto 0 0;
    text-align: center;
}
.detail-tab .detail-tab-head{
    height: 41px;
    background-color: #efefef;
}
.detail-tab .detail-tab-head ul li{
    width: 110px;
    height: 37px;
    line-height: 37px;
}
.detail-tab .detail-tab-head ul .selected{
    border-top: 3px solid #c0a369;
}
.detail-tab .detail-tab-head span{
    color: #c0a369;
}
.detail-tab .detail-tab-content ul li{
    float: none;
}

.backtop-btn{
    margin: 38px auto 0 auto;
    width: 93px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border: solid 1px #000000;
}
.backtop-btn a{
    font-size: 12px;
    color: #333333;
}