*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul li {
    float: left;
    list-style: none;
}
.ffffff{
    color: #ffffff;
}
.color181818{
    color: #181818;
}
.c-333333{
    color: #333333;
}
.c-66666{
    color: #666666 !important;
}
.c-c0ca369{
    color: #c0a369;
}
.c-99999{
    color: #999999;
}
.bg-ffffff{
    background: #ffffff;
}
.normal-font{
    font-size: 18px;
}
.lg-font{
    font-size: 24px;
}
.md-font{
    font-size: 14px;
}
.sm-font{
    font-size: 12px;
}
.topper{
    width: 100%;
    height: 38px;
    line-height: 38px;
}
.topper-left{
    width: 50%;
    color: #181818;
    float: left;
    text-align: center;
}
.topper-right{
    width: 45%;
    float:left;
    text-align: right;
    height: 38px;
}
.topper-right ul{
    height: 38px;
}

.topper-right ul a{
    display: inline-block;
    margin: 0 16px;
}
.logo-contaianer{
    width: 100%;
    height: 70px;
    line-height: 70px;
    min-width: 1000px;
    background: #181818;
    text-align: center;
    position: relative;
}
.logo-contaianer img{
    vertical-align: middle;
}
.search-block{
    position: absolute;
    width: 200px;
    height: 30px;
    line-height: 26px;
    border: 1px solid white;
    right: 10%;
    top: 20px;
}
.search-block input {
    height: 26px;
    color: white;
    background: #181818;
    border: 0;
    outline: none;
    text-indent: 3px;
}

.nav{
    width: 100%;
    height: 44px;
    background-color: #f6f6f6;
    line-height: 44px;
}
.md-nav{
    margin: 0 auto 0 20%;
}
.md-nav ul li{
    height: 44px;
    padding: 0 8.7% 0 0;
    cursor: pointer;
}
.md-nav ul not(:last-child){
    height: 44px;
    padding: 0 168px 0 0;
    cursor: pointer;
}

.md-nav a{
    color: #666666;
}
.md-nav a:hover{
    color: #c0a369;
}


.bottomnav{
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 137px;
}
.bottomnav >div{
    display: inline-block !important;
}
.bottomnav-guide{
    width: 14%;
    text-align: center;
    border-right: solid 1px #d2d2d2;;
    margin: auto;
}
.bottomnav-guide ul{
    width: 45%;
    display: inline-block;
}
.bottomnav-guide ul li{
    color: #666666;
    font-size: 12px;
    float: none;
    text-align: left;
}
.bottomnav-guide ul .lg-title{
    color: #181818;
    font-size: 16px;
    padding-bottom: 18px;
}
.bottomnav-guide ul .ms-title{
     padding-bottom: 8px;
}

.bottomnav-guide ul .sm-title{
    padding-bottom: 18px;
}

.bottomnav-phone{
    width: 18%;
    height: 180px;
    text-align: center;
    border-right: solid 1px #d2d2d2;
}

.phone-text{
    color: #181818;
}
.phone-number{
    font-size: 30px;
    letter-spacing: -1px;
    color: #181818;
    margin: 32px auto;
}
.week-time{
    font-size: 12px;
    color: #666666;
}
.book-mg{
    width: 20%;
    height: 180px;
    text-align: center;
    /*padding-top: 5px;*/
    border-right: solid 1px #d2d2d2;
}
.book-mg .color181818{
    text-align: left;
    text-indent: 13%;
    margin: 20px auto;
}
.book-email{
    width:74%;
    height: 34px;
    line-height: 34px;
    background: #eeeeee;
    border: solid 1px #bfbfbf;
    text-indent: 5px;
    font-size: 12px;
    outline: none;
    margin: 30px auto 20px auto;
}
.btn-book{
    background: #666666;
    width: 145px;
    height: 34px;
    line-height: 34px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    margin: 0 auto;
}
.btn-book:hover{
    background: #3a3a3a;
}
.qrcode{
    width: 11%;
    text-align: center;
}

.footer{
    width: 100%;
    height: 269px;
    text-align: center;
    border: 1px black solid;
    background-image: url("../images/base/bg-copyright.png");
}
.md-footer{
    margin: 85px auto;

}

.copyright{
    width: 100%;
    text-align: center;
    display: inline-block;
}

.copyright span{
    margin: 0 40px 0 0;
}
